{% extends 'paste/base.html' %}

{% block title %}{{ _('New Paste') }} - {{ sitename }}{% endblock %}

{% block content %}
    <h1>{{ _('New Paste') }}</h1>
    <form method="post" action="{{ current_url }}">
        {% from 'base/macros.html' import form_field %}
        <fieldset>
            <div class="input_wrapper">
                {{ form_field(form.code, class='large') }}
            </div>
            {{ form_field(form.language) }}
            {# form_field(form.tab) #}
        </fieldset>
        <input type="submit" name="submit" value="{{ _('Save') }}" class="submit">
    </form>
{% endblock %}

{% block sidebar %}
    {% include 'paste/_sidebar.html' %}
{% endblock %}
